
.task_overdue {
	color: #d3232e;
}

#task_list {
	thead {
		tr {
			th {
				cursor: pointer;
			}
		}
	}
}

 #options {
	display: none;
	background-color: Silver;
	text-align: right;
	position: absolute;
	z-index: 10000;
	opacity: 0.5;
}