
.button {
    display: inline-block;
    @include font-size('body');
    padding: 6px 12px;
    border-radius: 2px;

    // Primary colour default
    color: $white !important;
    background-color: $twopi-blue;

    margin-bottom: 12px;
}