
.row-fluid {
    // @include make-row();
    // @include make-col-ready();
    margin: 0 auto;
    width: 100%;
    @include clearfix();
}

.clearfix {
    clear: both;
}

.column, .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
}

@for $i from 1 through 12 {
    @media only screen {
        .small-#{$i} {
            // flex: 0 0 auto;
            width: (100% / 12) * $i;
        }
    }

    @media only screen {
        @include media-breakpoint-up(md) {
            .medium-#{$i} {
                // flex: 0 0 auto;
                width: (100% / 12) * $i !important;
            }
        }
    }

    @media only screen {
        @include media-breakpoint-up(lg) {
            .large-#{$i} {
                // flex: 0 0 auto;
                width: (100% / 12) * $i !important;
            }
        }
    }
}

ul[class*="-block-grid-"] {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    flex-basis: 0;
    padding: 0px;

    li {
        list-style-type: none;
    }
}

@for $i from 1 through 6 {
    @media only screen {
        ul.small-block-grid-#{$i} {
            li {
                flex: 0 1 calc(100%/#{$i});
            }
        }

        @include media-breakpoint-up(md) {
            ul.medium-block-grid-#{$i} {
                li {
                    flex: 0 1 calc(100%/#{$i}) !important;
                }
            }
        }

        @include media-breakpoint-up(lg) {
            ul.large-block-grid-#{$i} {
                li {
                    flex: 0 1 calc(100%/#{$i}) !important;
                }
            }
        }
    }
}
