
table.tablesorter {
    @include shadow-flat();
    @include theme((background-color: 'white-black'));
    margin-top: 12px;
    width: 100%;
    padding: 20px;

    thead {
        tr {
            th {
                @include font-size('body');
                @include theme((color: 'dark-grey'));
                font-weight: 400;
                padding: 12px 20px;

                &:before {
                    content: "";
                    display: block;
                    background: url("~bootstrap-icons/icons/chevron-down.svg") no-repeat;
                    width: 20px;
                    height: 20px;
                    float: left;
                    margin: 6px 6px 0 0;
                }

                &.sorted-asc {
                    &:before {
                        background: url("~bootstrap-icons/icons/chevron-up.svg") no-repeat !important;
                    }
                }
            }
        }
    }
    tbody {
        tr {
            td {
                @include font-size('body');
                @include theme((color: 'dark-grey', background-color: 'white-black'));
                padding: 0px 20px;
            }

            &:first-child, &:nth-child(2n + 1) {
                td {
                    @include theme((background-color: 'light-grey'));
                }
            }
        }
    }
}