/**
 * @param map props - a map of properties to be themed
 * @param transitions - transitions to append
 */
.event-status-container {
  height: 100%;
}
.event-status-container > div > .row:not(:first-of-type) {
  margin-top: 1rem;
}

.facilitator-list h4 button {
  margin-top: 0px;
}

.evaluation-status .btn {
  margin-left: 0px !important;
  margin-bottom: 1rem;
}

.article-status .btn {
  margin-left: 0px !important;
  margin-bottom: 1rem;
}

.curriculum-container > div > form > h4 .btn {
  margin: 0 !important;
}
.theme--default .curriculum-container .curriculum-file-container {
  background-color: #FFFFFF !important;
  transition: background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), margin-top 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), height 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.theme--dark .curriculum-container .curriculum-file-container {
  background-color: #353535 !important;
  transition: background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), margin-top 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), height 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.curriculum-container .curriculum-file-container > p span {
  font-size: 16px !important;
  line-height: 24px !important;
}
.curriculum-container .curriculum-file-container .curriculum-files {
  word-break: break-all;
  overflow: hidden;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  padding: 15px;
}
.theme--default .curriculum-container .curriculum-file-container .curriculum-files {
  border-color: #F2F2F2 !important;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.theme--dark .curriculum-container .curriculum-file-container .curriculum-files {
  border-color: #4D4D4D !important;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.curriculum-container .curriculum-file-container .curriculum-files.empty {
  display: none;
}
.curriculum-container .curriculum-file-container .curriculum-files .curriculum-file p {
  margin-bottom: 0;
}
.curriculum-container .curriculum-file-container .curriculum-files .curriculum-file p.file-header .button-container {
  float: right;
}
.curriculum-container .curriculum-file-container .curriculum-files .curriculum-file p.file-header .button-container button.btn {
  padding: 0 5px;
  margin: 0 0 0 5px;
  font-size: 12px !important;
  line-height: 14px !important;
}
.curriculum-container .curriculum-file-container .curriculum-files .curriculum-file p.file-header .button-container button.btn i {
  font-size: 1rem;
}
.curriculum-container .curriculum-file-container .curriculum-files .curriculum-file p.file-description {
  font-size: 12px !important;
  line-height: 16px !important;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 5px 10px;
}
.theme--default .curriculum-container .curriculum-file-container .curriculum-files .curriculum-file p.file-description {
  background-color: #F2F2F2 !important;
  color: #6C757D !important;
  transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.theme--dark .curriculum-container .curriculum-file-container .curriculum-files .curriculum-file p.file-description {
  background-color: #4D4D4D !important;
  color: #F2F2F2 !important;
  transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.curriculum-container .curriculum-file-container .curriculum-files .curriculum-file p.file-description span {
  display: block;
}
.theme--default .curriculum-container .curriculum-file-container .curriculum-files .curriculum-file p.file-description span {
  color: #4D4D4D !important;
  transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.theme--dark .curriculum-container .curriculum-file-container .curriculum-files .curriculum-file p.file-description span {
  color: #F2F2F2 !important;
  transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.curriculum-container .curriculum-file-container .curriculum-files .curriculum-file .meta-container {
  font-size: 16px !important;
  line-height: 24px !important;
  text-transform: capitalize;
}
.curriculum-container .curriculum-file-container .curriculum-files .curriculum-file .meta-container > * {
  padding: 5px;
}
.curriculum-container .curriculum-file-container .curriculum-files .curriculum-file .meta-container > *:first-child {
  padding-left: 0;
}
.curriculum-container .curriculum-file-container .curriculum-files .curriculum-file .meta-container > *:last-child {
  padding-right: 0;
}
