/**
 * @param map props - a map of properties to be themed
 * @param transitions - transitions to append
 */
label.form-label + p {
  margin-bottom: 0px;
}

#curriculum_module_placeholder ~ p .bi {
  margin-left: 2rem;
  display: inline-block;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  bottom: 2px;
  text-align: center;
  line-height: 22px;
}
#curriculum_module_placeholder ~ p .bi:hover {
  cursor: pointer;
}
.theme--default #curriculum_module_placeholder ~ p .bi:hover {
  background-color: #6C757D !important;
  color: #FFFFFF !important;
  transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.theme--dark #curriculum_module_placeholder ~ p .bi:hover {
  background-color: #F2F2F2 !important;
  color: #353535 !important;
  transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
