// Themed Colours
$black-grey: #353535 !default;
$dark-grey: #4D4D4D !default;
$mid-grey: #6C757D !default;
$light-grey: #F2F2F2 !default;
$white: #FFFFFF !default;

$twopi-blue: #159CD5 !default;
$caption: #A0A0A0 !default;
$warning: #FFC107 !default;
$danger: #DC3545 !default;
$success: #28A745 !default;


$black-grey--dark: #FFFFFF !default;
$dark-grey--dark: #F2F2F2 !default;
$mid-grey--dark: #6C757D !default;
$light-grey--dark: #4D4D4D !default;

$white--dark: #353535 !default;

$twopi-blue--dark: #159CD5 !default;
$caption--dark: #A0A0A0 !default;
$warning--dark: #FFC107 !default;
$danger--dark: #DC3545 !default;
$success--dark: #28A745 !default;

$themes: (
    default: (
        black-grey: $black-grey,
        dark-grey: $dark-grey,
        mid-grey: $mid-grey,
        light-grey: $light-grey,
        white-black: $white,
        twopi-blue: $twopi-blue,
        caption: $caption,
        warning: $warning,
        danger: $danger,
        success: $success,
    ),
    dark: (
        black-grey: $black-grey--dark,
        dark-grey: $dark-grey--dark,
        mid-grey: $dark-grey--dark,
        light-grey: $light-grey--dark,
        white-black: $white--dark,
        twopi-blue: $twopi-blue--dark,
        caption: $caption--dark,
        warning: $warning--dark,
        danger: $danger--dark,
        success: $success--dark,
    ),
);

// Drop shadow
$shadow-base: #C4C4C4 !default;
$shadow-light: rgba(45, 45, 45, 0.25) !default;
$shadow-dark: rgba(45, 45, 45, 0.5) !default;

// Menu
$side-menu-width: 300px !default;
$animation-duration: 0.2s !default;
$animation-path: cubic-bezier(0.645, 0.045, 0.355, 1) !default;

// Type
$font-sizes: ("1": 40px, "2": 32px, "3": 28px, "4": 24px, "5": 20px, "body": 16px, "caption": 12px);
//("1": 2.488rem, "2": 2.074rem, "3": 1.728rem, "4": 1.44rem, "5": 1.2rem, "6": 1rem, "sm": 0.833rem);
$line-heights: ("1": 48px, "2": 38px, "3": 34px, "4": 29px, "5": 24px, "body": 24px, "caption": 16px);

$colours: (
    "primary": ("background-color": $twopi-blue, "color": $white),
    "secondary": ("background-color": $mid-grey, "color": $white),
    "success": ("background-color": $success, "color": $white),
    "danger": ("background-color": $danger, "color": $white),
    "error": ("background-color": $danger, "color": $white),
    "warning": ("background-color": $warning, "color": $dark-grey),
    "info": ("background-color": $caption, "color": $white),
    "light": ("background-color": $light-grey, "color": $caption),
    "dark": ("background-color": $dark-grey, "color": $white),
);
