// Variable overrides here

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

$enable-cssgrid: true;

@import 'variables';
@import 'bootstrap_overrides';

$bootstrap-icons-font-dir: "/system/templates/base/dist/fonts";

// Import bootstrap
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";

// Cmfive styles
@import 'cmfive/mixins';

@import 'cmfive/accordion';
@import 'cmfive/alert';
@import 'cmfive/breadcrumb';
@import 'cmfive/buttons';
@import 'cmfive/cards';
@import 'cmfive/forms';
@import 'cmfive/inputs';
@import 'cmfive/menu';
@import 'cmfive/modal';
@import 'cmfive/multi_file_uploads';
@import 'cmfive/overlay';
@import 'cmfive/tables';
@import 'cmfive/toast';
@import 'cmfive/type';
@import 'cmfive/listgroup';
@import 'cmfive/red_squiggly_underline';
@import 'cmfive/responsive_flex';

@import 'cmfive/quill';

// Foundation adaptation styles
// @import "cmfive/adaptations/accordion";
@import "cmfive/adaptations/alerts";
@import "cmfive/adaptations/buttons";
@import 'cmfive/adaptations/favourites';
@import 'cmfive/adaptations/filter';
@import 'cmfive/adaptations/forms';
@import 'cmfive/adaptations/grid';
@import 'cmfive/adaptations/panel';
@import "cmfive/adaptations/tabs";
@import "cmfive/adaptations/tables";

// Quill styles
@import "quill/dist/quill.snow.css";

// Tom Select styles
@import 'tom-select/src/scss/tom-select.scss';

// There is a collision in styles between quill and tom-select - this is a patch for this:
.ts-wrapper.multi.has-items .ts-control {
    padding: 4px 0px 0px;
}

.ts-control {
    padding: 4px 0px 3px;
    border: none;

    .item {
        margin-top: 0 !important;

        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
    }
}

.ts-control:has(.item) {
    padding: 0;
}

body {
    min-height: 100vh;
    @include theme((color: 'mid-grey', background-color: 'light-grey'));
}

.clearfix {
    @include clearfix();
}
