
#breadcrumbs {
    ol.breadcrumb {
        @include theme((background-color: 'light-grey'));
        
        padding: 3px 16px 2px;
        margin: 0px;
        border-radius: 4px;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        display: block;
        height: 40px;
        
        li.breadcrumb-item {
            display: inline-block;
            max-width: 160px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

            span, a {
                @include theme((color: 'dark-grey'));
                @include font-size('caption');
                text-align: center;
                overflow: hidden;
            }
        }
    }
}