
// @import "~bootstrap/scss/buttons";

.btn {
    @include font-size('body');
    display: inline-block;
    padding: 6px 12px;
    margin: 4px 0px;
    border-radius: 2px;
    // border: $btn-border-width solid transparent;
    text-align: center;
    text-decoration: if($link-decoration == none, null, none);
    // white-space: $btn-white-space;
    vertical-align: middle;
    user-select: none;

    // color: $white;
    // background-color: $twopi-blue;

    &.btn-sm {
        @include font-size('caption');
        padding: 4px 8px !important;
    }

    &:not(:first-of-type) {
        margin-left: 8px;
    }

    @each $key, $value in $colours {
        &.btn-#{$key} {
            background-color: map-get($value, "background-color");
            color: map-get($value, "color");

            &:hover {
                background-color: darken(map-get($value, "background-color"), 10%) !important;
            }
        }
        
        &.btn-outline-#{$key} {
            background-color: $white;
            border: 1px solid map-get($value, "background-color");
            color: map-get($value, "background-color");

            &:hover {
                background-color: map-get($value, "background-color") !important;
                color: map-get($value, "color") !important;
            }
        }
    }
}
