form {
    label.form-label {
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
        margin-bottom: 2px;
        font-weight: bold;

        @include media-breakpoint-down(md) {
            flex-direction: column;

            small {
                padding: 8px 0px 0px !important;
            }
        }

        small {
            padding: 8px 0 0 8px;
            font-weight: normal;
        }

        select {
            width: 100%;
        }

        & + * {
            margin-bottom: 5px;
        }

        & + input {
            margin: 0px 0px 4px;
            border: 1px solid #ccc;
            
            // padding: 0 10px !important;

            &.input-large {
                width: 100%;
            }

            &[type='color'] {
                max-width: 40px;
                display: block;
            }
        }
        
        & + select {
            margin: 0px 0px 4px;
            border: 1px solid #ccc;
            // padding: 3px 10px !important;
            width: 100%;
        }
    }

	input.input-large {
		width: 100%;
	}
}