@use 'sass:map';

// Menu theme colours
$themes: map.deep-merge($themes, (
    default: (
        offscreen-background: $white,
        navbar-background: $white,
        navbar-text: $mid-grey,
    ),
    dark: (
        offscreen-background: $white--dark,
        navbar-background: $white--dark,
        navbar-text: $mid-grey--dark,
    )
));

#app {
    #offscreen-menu {
        $t: left $animation-duration $animation-path, opacity $animation-duration $animation-path,;
        @include theme((background-color: 'offscreen-background'), $t);
        position: fixed;
        left: -$side-menu-width;
        top: 0px;
        bottom: 0px;
        width: $side-menu-width;
        z-index: 20;
        padding: 20px;
        opacity: 0;

        &.active {
            left: 0px;
            opacity: 1;
        }
    }

    #content {
        width: 100%;
        z-index: 10;

        #navbar {
            @include theme((background-color: 'navbar-background'));
            padding-bottom: 12px;
            margin-bottom: 34px;

            .navbar {
                li {
                    a {
                        padding: 0.5rem 1rem;
                        @include font-size("body");
                        @include theme((color: 'navbar-text'));
                    }
            
                    &.active {
                        a {
                            @include theme((color: 'dark-grey'));
                        }
                    }
            
                    .dropdown-menu {
                        width: 228px;
                        margin: -1px;
                        @include shadow-hover();
                        padding: 12px 0px;
                        
                        @include theme((background-color: 'white-black'));
            
                        a {
                            width: 100%;
            
                            @include theme((color: 'dark-grey'));
                            @include font-size("body");
                            display: block;
                            padding: 6px 24px;
            
                            &:hover {
                                @include theme((color: 'caption', background-color: 'light-grey'));
                            }
                        }
                    }
                }
            }
        }
    }

    // Navbar icons
    a.nav-link {
        @include font-size("body");
        @include theme((color: 'navbar-text'));
        
        &:hover, &.show {
            @include theme((color: 'black-grey', background-color: 'light-grey'));
            
            @include media-breakpoint-up(lg) {
                .dropdown-menu {
                    display: block;
                }
            }
        }

        i {
            font-size: 16px;
            @include theme((color: 'mid-grey'));
        }

        &.nav-icon {
            border-bottom-width: 2px;
            border-bottom-style: solid;
            @include theme((border-bottom-color: 'white-black'));

            &:hover {
                @include theme((border-bottom-color: 'black-grey'));

                i {
                    @include theme((color: 'black-grey'));
                }
            }
        }

        &.caret-off::before {
            display: none;
        }
        
        &.caret-off::after {
            display: none;
        }
    }

    #menu-overlay {
        position: fixed;
        z-index: 15;
        top: 0; bottom: 0;
        left: 0; right: 0;
        background-color: black;
        background-color: rgba($color: #333, $alpha: 0.75);
        opacity: 0;
        visibility: hidden;
        transition: opacity $animation-duration $animation-path, visibility $animation-duration $animation-path;

        &.active {
            opacity: 1;
            visibility: visible;
        }
    }
}
