@use 'sass:map';

// Modal theme colours
$themes: map.deep-merge($themes, (
    default: (
        modal-background: $white
    ),
    dark: (
        modal-background: $white--dark
    )
));

.modal {
    .modal-dialog {
        .modal-content {
            padding: 20px;
            @include theme((background-color: 'modal-background'));
        }
    }
}