.paginated-table-container {
    margin-top: 2rem;
    
    table {
        margin-bottom: 1rem;
        @include shadow-flat();
    }
}
.column-time {
    width: 10%;
}
.column-object {
    width: 15%;
}
.column-description {
    width: 45%;
}
.column-actions {
    width: 20%;
}