
div.vue-list-filter {
	background-color: white;
	border: 1px solid #d4dbe1;
	padding: 10px 20px;
	margin-bottom: 10px;

	label {
		color: #C2CFD8;
	}

	input, select {
		background-color: #eaedf2;
	}
}