i.favorite_flag {
	display: inline-block;
	color: lightgrey;
	padding: 0px 5px;
	font-size: 35px;
	line-height: 40px;
	float: left;
}

i.favorite_flag:hover {
	cursor: pointer;
}

i.favorite_flag.favorite_on {
	color: gold;
}

i.favourite_flag.new-favourite-button {
    display: none !important;
    visibility: hidden !important;
}