$primary_colour: #2a2869;
$secondary_colour: #159cd4;
$tertiary_colour: #426AB2;
$accent_colour: #dee5eb;

$border_colour: #d4dbe1;
$primary_text_colour: #222222;
$text_accent_colour: white; // #a3d0ea;

$dark-border-colour: #d3d7dc;
$dark-background-colour: #bbc9d4;

$light-border-colour: #e5eaf0;
$light-background-colour: #f8f9fb;
