$primary_colour: #2a2869 !default;
$secondary_colour: #159cd4 !default;
$tertiary_colour: #426AB2 !default;
$accent_colour: #dee5eb !default;

$border_colour: #d4dbe1 !default;
$primary_text_colour: #222222 !default;
$text_accent_colour: white !default; // #a3d0ea;

$dark-border-colour: #d3d7dc !default;
$dark-background-colour: #bbc9d4 !default;

$light-border-colour: #e5eaf0 !default;
$light-background-colour: #f8f9fb !default;
