$primary_colour: #2a2869;
$secondary_colour: #159cd4;
$tertiary_colour: #426AB2;
$accent_colour: #dee5eb;

$border_colour: #d4dbe1;
$primary_text_colour: #222222;
$text_accent_colour: #a3d0ea;


html,
body {
	background-color: $accent_colour !important;
        height:auto;

	.body {
		padding: 0px 40px 40px ;
                
                

		header {
			font-size: 2em;
			font-weight: bold;
		}
	}
        .footer{
            position:absolute;
            left:0px;
            right:0px;
            bottom:5px;
            
        }
}

$tablet-width: 40.063em;
$desktop-width: 1024px;

@mixin phone {
	@media (max-width: #{$tablet-width - 1px}) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}

// Top navigation
@import "top-nav.scss";

// Side navigation
@import "side-nav.scss";

// Breadcrumbs
@import "breadcrumbs.scss"; 




