@import "_settings.scss";

// Responsive mixins
@import "responsive.scss";

// Top navigation
@import "top-nav.scss";

// Side navigation
@import "side-nav.scss";

// Breadcrumbs
@import "breadcrumbs.scss"; 

// Tabs
@import "tabs.scss";

html,
body {
	font-family: 'Hind Vadodara', sans-serif;
	background-color: $accent_colour !important;
    height:auto;

	.body {
		padding: 0px 40px 60px ;
        @include phone() {
        	padding: 0px 10px 60px;
        }

		header {
			font-size: 2em;
			font-weight: bold;
			margin-bottom: 0px;
		}
	}

    .footer {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 16px;
    }
}

table {
	margin-bottom: 0px;
	width: 100%;

	&.basic-table {
		border: 0;
		background: none;

		tr {
			background: none;

			td {
				padding: 0px;
				margin-top: 5px;

				&:first-child {
					margin-top: 0px;
				}
			}
		}
	}
}

.display-heading {
	color: $primary_text_colour;
	font-size: 16pt;
}

.display-content {
	padding: 10px;
	background-color: $light-background-colour;
}

.cmfive__no-margin {
	margin: 0 -15px;
}
