.hidden_tags {
	display: none;
}

.tags-container:hover .hidden_tags {
	display: inline;
}

.tags-container:hover .show_more {
	display: none;
}

.show_more {
	display: inline;
}

.shown_tags {
	display: inline;
}

.tags-container {
	display: flex;
	align-items: center;
	display: inline-block;
	cursor: pointer;
}

.tags-container:hover {
	cursor: pointer;
}

.tag-small {
	font-size: 0.7rem;
	padding: 2px 3px 2px 3px;
	margin-left: 5px;
}

.tag-small:first-child {
	margin-left: 0;
}

.tags-container .loader {
	border-left: 1.1em solid var(--bs-primary);
}