
.selectize-dropdown-content {
	max-height: none;

	.option.selected {
	    background-color: #a0d3e8;
	    margin: 2px;
	    border: 1px solid #ddd;
	}
}

.tag_container {
    display: inline-block;
    
    &:hover {
    	cursor: pointer;
    }
}

div {
	&[class^='show_hover'] {
	    position: absolute;
	    width: auto;
	    z-index: 1000;
	    display: none;

	    span {
	    	&:not(:last-child) {
	    		margin-right: 5px;
	    	}
	    }
	}

	&[id^='tag_container_'] {
		&:hover {
			div {
				&[class^='show_hover_'] {
					display: block;
				    background-color: #efefef;
				    background-color: rgba(150, 150, 150, 0.5);
				    padding: 5px;
				}
			}
		}
	}
}

span[class^='count_hover_tags'] {
    font-size: 0.8em;
}

.tag_show_container span:not(:last-child) {
    margin-right: 5px;
}

.loader {
	border-radius: 50%;
    width: 15px;
    height: 15px;

    display: block;
    margin: 1px auto;
    font-size: 2px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0);
    border-right: 1.1em solid rgba(255, 255, 255, 0);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0);
    border-left: 1.1em solid #4c4c4c;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: loading_indicator 1.1s infinite linear;
    animation: loading_indicator 1.1s infinite linear;
}

&:after {
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

@mixin loadingIndicator {
	0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loading_indicator {
    @include loadingIndicator();
}
@keyframes loading_indicator {
    @include loadingIndicator();
}