.limited .tag_selection.primary
{
    padding-bottom: 2px;
    padding-top: 2px;
    display: none;
}

.limited_count
{
    cursor: pointer;
    font-style: italic;
    font-size: x-small;
    display: none;
}

.limited .tag_selection.first,
.limited.show_num_limited .first + .limited_count,
.limited.tag_list:hover .tag_selection.primary
{
    display: inline-block;
}

.hidetag
{
    display: none !important;
}

/*.limited
{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}*/

.tag_list_body {
    margin:3px 0 5px;
    overflow-y: scroll;
    height: 120px;
}

.limited .tag_list_modal {
    margin-bottom: 0;
}

.limited .tag_list_dialog {
    top: -200px;
}
//I set this to absolute for positioning the tag box - isaac 
.limited.tag_list {
/*    position: relative;*/
/*position: absolute;*/
}

/**
 * Tags
 **/
.tag_list {
    display: inline;
    position: absolute;
    padding: 0px 10px;
    line-height: 5px;
}

.tag_list_dialog {
    z-index:20;
    position:absolute;
    top:25px;
    left:10px;
    display:none;
    right:-1px;
}

.tag_list_header {
    background-color:#ccc;
    padding:5px;
}

.tag_list_header > div {
    margin-top:2px;
}

.tag_list_body {
    margin:3px 0 5px;
}

.available_tags_list  .tag,
.available_tags_list  .custom_tag  {
    padding:4px 5px 4px 15px;
}

.tag_selection,
.hide_tag_list {
    cursor:pointer;
}

.available_tags_list  .tag .label,
.available_tags_list  .custom_tag .label  {
    transition:box-shadow 0.5s;
    cursor:pointer;
}

.available_tags_list  .tag .label:hover,
.available_tags_list  .custom_tag .label:hover  {
    box-shadow:0 0 0.5em #008CBA;
}

.hide_tag_list {
    float:right;
    padding:0 5px;
    transition:color 0.5s;
}

.hide_tag_list:hover {
    color:#CD0000;
}
.tag_list_dialog .tag_list_modal {
    font-size:12pt;
    background-color:#fff;
    width:250px;
    margin-top:3px;
    margin-bottom:14px;
    position:relative;
    overflow:hidden;
    border:1px solid rgba(200, 200, 200, 0.4);
    box-shadow:0 3px 12px rgba(0, 0, 0, 0.15);
    border-radius:3px;
}

.tag_list_item {
    display:block;
    font-size:12pt;
    border-bottom:1px solid #000;
    padding:3px;
}

.tag_list_item:last-child {
    border:0;
}



