
$primary_colour: #2a2869;
$secondary_colour: #159cd4;

$primary_text_colour: #444444;
$secondary_text_colour: #987654;

$accent_colour: #dee5eb;

html, body {
	background-color: $accent_colour !important;
}