*, *:before, *:after {box-sizing:  border-box;}

/* Override Foundation padding for inputs */
input[type="text"], input[type="password"],
input[type="date"], input[type="datetime"],
input[type="datetime-local"], input[type="month"],
input[type="week"], input[type="email"],
input[type="number"], input[type="search"],
input[type="tel"], input[type="time"],
input[type="url"], textarea, select {
    margin-bottom: 0px;
}

form {
    margin: 1rem 0 1rem;
}

.multicolform > .row-fluid {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    align-content: stretch;
    flex-flow: row wrap;
}

ul.accordion {
    margin-left: 0px;
}
.CodeMirror {
	height:auto!important;
	margin-bottom:10px;
	font-size: 12pt;
}
.accordion .accordion-navigation > .content {
    padding: 0px;
}

.item {
    padding:  .25rem;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
}

.multicolform .panel {
    position:relative;
    display: block;
    padding: 10px 10px 25px 10px;
}

.multicolform .panel table {
    width: 100%;
}

body {
    background-color: #fdfefe;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.body {
    overflow: hidden;
    padding: 10px;
	/*    display: inline-block;*/
}

form fieldset {
    padding-bottom: 10px !important;
    margin: 0 2px !important;
}

nav span[class^='fi-'], nav span[class*=' fi-'] {
    /*margin-top: 200px !important;*/
    font-size: 18pt;
}

.top-bar-section li:not(.has-form) a:not(.button) {
    height: 45px;
}

.form_section {
    border: 1px solid #adadad;
    background-color: #efefef;
    padding: 5px;
    margin-bottom: 10px;
}

.form_section_header {
    padding: 30px;
}

.form_section .panel {
    margin-bottom: 0px;
}

.form_section .icon-bar a.item {
    padding: 5px 20px;
}

.form_section_description {
    padding: 10px;
    background-color: #dedede;
    border: 1px solid #cfcfcf;
}

/* Search */
#search_form {
    margin-bottom: 0px !important;
}

#search-class-header {
    padding: 0px 30px;
    font-weight: lighter !important;
    border-bottom: 1px solid black !important;
}

.search-class .panel {
    margin-bottom: 10px !important;
    padding: 0px 30px !important;
}

.search-title {
    font-weight: normal;
    font-size: 110%;
}

.search-listing {
    padding: 0px 30px 20px 15px;
}

button {
    font-size: 0.8rem !important;
}

.header {
    border-bottom: 1px #cacaca solid;
}

.top-bar-section .has-dropdown > a {
    padding-right: 15px !important;
}
.top-bar-section .has-dropdown > a:after {
    display: none;
    content: none;
}

#footer {
    background-color: #555555;
    text-align: center;
    padding: 10px;
    border: 0px;
    color: #bcbcbc;
}

.boxes {
    border: 1px solid #acacac;
    padding: 10px;
}

.boxes > h5 {
    border-bottom: 1px solid #cacaca;
}

.boxes > ul {
    list-style-type: none;
    margin: 0px;
}

/* Grid List */
.grid-list-panel {
    clear: none !important;
}

.grid-list-panel .panel {
    padding: 10px 0px;
    margin-bottom: 0px;
}

#filter-grid > li {
    padding-bottom: 0px;
}

/* Table styles */
table .section {
    background-color: #074e68;
    color: #fcfcfc;
    font-weight: lighter;
}

.widget_buttons { opacity: 0; }
.widget_config { padding-left: 40px; }
.widget_remove { float: right; padding-right: 40px; }

.tab-head {
    display: block;
}

.tab-head > a {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #a9a9a9;
    /*line-height: 38px;*/
    margin-bottom: -1px;
    margin-right: -1px;
    display: inline-block;
    float: left;
}

.tab-head a.active {
    background: #074e68;
    color: white;
}
.tab-head a:hover { background: #6FA9C7; }
.tab-body {
    border: 1px solid #a9a9a9;
    padding: 5px;
    display: block;
    clear: both;
}

td button {
    margin: 0;
    padding: 5px 15px !important;
}

ul.ui-autocomplete {
    z-index: 10000;
}

/* Comment section */
.comment_section {
    clear: both;
    display: block;
    margin: 5px;
    padding: 10px;
}

.comment_section .comment_section > .comment_body {
    border-left: 10px solid white;
}

.comment_section .comment_section {
    padding: 0px 0px 0px 20px;
    margin-top: 0px;
    margin-right: 0px;
}

.comment_section:hover {
    background-color: #efefef;
}

.comment_avatar {
    /*border-radius: 50%;*/
    border: 3px solid #074E68;

}

.comment_header {
    font-size: 12pt;
    font-weight: lighter;
    color: #363636;
}

.comment_body {

    position: relative;
    padding: 10px 0px;
}

.comment_body > div > p {
    margin-bottom: 5px;
}

.comment_meta {
    position: relative;
    color: #797979;
}

.comment_reply {
    padding: 0px 10px;
}

#comment_reply_form {
    margin-top: 0px;
}

.comment_meta a {
    text-decoration: underline;
    color: inherit;
}

/* Attachments section */
.attachments_container {
    overflow: hidden;
    margin-bottom: 10px;
}

.image_attachment {
    border: 1px solid grey;
    width: 200px;
    float: left;
    margin: 10px 5px 0px 0px;
    /*margin-top: 0px;*/
    padding: 5px;
    background-color: #eee;
}

.image_attachment > a {
    margin-bottom: 0px;
}

.image_attachment_text {
    width: 200px;
    padding: 5px 0px;
}

.close-reveal-modal {
    top: 0px !important;
    margin-top: -5px !important;
    margin-right: -5px;
}

button.button {
    margin: 0;
}

.section-body {
    /*padding: 0px 10px;
    display: inline;*/
    margin: 20px 0px;
}

.section-body ul {
    -moz-column-width: 18em;
    -webkit-column-width: 18em;
    -moz-column-gap: 1em;
    -webkit-column-gap:1em;
}

.section-body li {
    padding: 0px 5px;
    vertical-align: top;
    float: left;
    display: inline;
}

.section-body table {
    width: 100%;
}

/* Task group styling */
table.taskgroup_summary thead {
    margin-bottom: 0px !important;
    background: white;

}
table.taskgroup_summary {
	border: 0px;
}

/* Should be supported in IE7+ */
button.button + button {
    margin-left: 5px !important;
}

div.acp_container {
	position: relative;
}

div.acp_container input {
	position: relative;
	z-index: 10;
}

div.acp_container > div.circle {
	display: none;
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-radius: 50px;
    width: 45px;
    height: 45px;
    margin: auto;
    position: absolute;
    top: -3px; right: -3px;
    -moz-animation: circlePulse 2s infinite linear;
    -webkit-animation: circlePulse 2s infinite linear;
	animation: circlePulse 2s infinite linear;
	z-index: 10000;
}

div.acp_container > img.center_image {
	display: none;
	background-color: rgba(0,0,0,0);
    width: 30px;
    height: 30px;
    margin: auto;
    position: absolute;
    top: 4px; right: 4px;
    -moz-animation: bounceImage 2s infinite linear;
    -webkit-animation: bounceImage 2s infinite linear;
	animation: bounceImage 2s linear infinite;
	z-index: 100;
}

/* Loading Indicator - from: http://www.alessioatzeni.com/blog/css3-loading-animation-loop/ */
.loading_overlay, .global_file_drop_overlay {
    position: fixed;
    _position: absolute;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.9);
}

.global_file_drop_area {
	display:none;
	position:fixed;
	top:40px;
	right:40px;
	padding:50px;
	z-index:100000000;
	background-color: #000000;
    background-color: rgba(0, 0, 0, 0.9);
}
.global_file_drop_area:hover {
	padding:70px;
}

/* New circle animation */
.loading_overlay .circle,
.global_file_drop_overlay_loading .circle {
    background-color: rgba(0,0,0,0);
    border: 10px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-radius: 200px;
    width: 150px;
    height: 150px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    -moz-animation: circlePulse 2s infinite linear;
    -webkit-animation: circlePulse 2s infinite linear;
	animation: circlePulse 2s infinite linear;
}

.loading_overlay .center_image,
.global_file_drop_overlay_loading .center_image {
    background-color: rgba(0,0,0,0);
    width: 100px;
    height: 100px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    -moz-animation: bounceImage 2s infinite linear;
    -webkit-animation: bounceImage 2s infinite linear;
	animation: bounceImage 2s linear infinite;
}


.loading_overlay h4,
.global_file_drop_overlay h4 {
    color: white;
    font-weight: lighter;
    padding-top: 150px;
    text-align: center;
    width: 200px;
    height: 60px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.listGrid li{
    min-height: 190px;
}

ul.cmfive_breadcrumbs {
    border-radius: 0px;
    border-color: white;
    border-width: 1px 0px;
    border-style: solid;

    color: white;
    background-color: rgb(48, 48, 48);

    width:100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    box-sizing:border-box;
    display: inline-block;
    height: 35px;
    margin-left: 0px;
    padding-right: 20px;
}

.cmfive_breadcrumbs > * {
    font-size: 0.6875rem;
    text-transform: uppercase;
}

.cmfive_breadcrumbs > *:before {
    content: "/";
    color: #aaaaaa;
    margin: 0 0.75rem;
    position: relative;
    top: 1px;
}

ul.cmfive_breadcrumbs > li {
    color: rgb(160, 160, 160);
    vertical-align: middle;
    display: inline-block;
    margin-top: 3px;
}
.cmfive_breadcrumbs li:first-child:before {
    content: "";
    margin: 0 0.5rem;
}

.cmfive_breadcrumbs li.current {
    color: rgb(200, 200, 200);
    /*padding-left: 10px;*/
}

.cmfive_breadcrumbs li > a {
    padding: 10px 0px;
}

.cmfive_breadcrumbs li > a:hover {
    color: white;
    text-decoration: none;
}

.cmfive_breadcrumbs li > i {
    color: rgb(220, 220, 220);
    font-size: 160%;
}

.cmfive_breadcrumbs .breadcrumb-content {
	max-width: 120px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

.multiFileUploadRow {
    padding: 5px;
    border: 1px solid grey;
}

.multiFileUploadRow input[type=file] {
    padding-top: 10px;
    margin-bottom: 0px;
}

div#start_timer, div#stop_timer {
    display: none;
}

a > div#active_log_time {
    color: white;
    font-size: 1em;
    min-width: 80px;
}


.reveal-modal-bg {
    position: fixed;
}

@-moz-keyframes bounceImage {
    0% {
        -webkit-transform: scale(1);
    }
	45% {
        -webkit-transform: scale(1.2);
    }
    50% {
        -webkit-transform: scale(1);
    }
	100% {
		-webkit-transform: scale(1);
	}
}

@-webkit-keyframes bounceImage {
    0% {
        -webkit-transform: scale(1);
    }
	45% {
        -webkit-transform: scale(1.2);
    }
    50% {
        -webkit-transform: scale(1);
    }
	100% {
		-webkit-transform: scale(1);
	}
}

@-moz-keyframes circlePulse {
    0% {
		-webkit-transform: scale(0.5);
		opacity: 0.0;
	}
	40% {
		-webkit-transform: scale(0.5);
		opacity: 0.0;
	}
	45% {
		-webkit-transform: scale(0.8);
		opacity: 1.0;
	}
	100% {
		-webkit-transform: scale(1.5);
		opacity: 0.0;
	}
}

@-webkit-keyframes circlePulse {
	0% {
		-webkit-transform: scale(0.5);
		opacity: 0.0;
	}
	40% {
		-webkit-transform: scale(0.5);
		opacity: 0.0;
	}
	45% {
		-webkit-transform: scale(0.8);
		opacity: 1.0;
	}
	100% {
		-webkit-transform: scale(1.5);
		opacity: 0.0;
	}
}

@media screen and (max-width: 640px) {
    .responsive-icon-bar .item {
        width: 100% !important;
        float: left;
    }

    .reveal-modal, dialog {
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
    }

    .column, .columns {
        padding: 0px 5px;
    }
}


/** the number of timelogs, comments, attachments **/
.total_number
{
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 15px;
    font-size: x-small;
    line-height: 38px;
    vertical-align: top;
    padding: 1px 4px;
}

/* Styles to force tables to horizontally scroll */
div.table-responsive {
	margin: 10px 0px;
	overflow-x: auto;
}

div.table-responsive > p {
	margin-bottom: 0px;
}

div.table-responsive > table > thead th, div.table-responsive > table > tbody td {
	min-width: 150px;
	white-space: nowrap;
}

/* From: http://stackoverflow.com/questions/248011/how-do-i-wrap-text-in-a-pre-tag */
td > pre.break-pre, div.table-responsive > table > tbody td > pre.break-pre {
	white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

th.sorted_column {
	background-color: #ffffff;
}

.sort-icons {
	padding: 5px;
	font-size: 14pt;
}

.sort-ascending {
	display: inline-block;
	-ms-transform: rotateZ(-90deg);
    -webkit-transform: rotateZ(-90deg);
    transform: rotateZ(-90deg);
}

.sort-descending {
	display: inline-block;
	-ms-transform: rotateZ(90deg);
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
}

.cmfive__tab-label {
	top: -2px;
}

.file__pdf-modal {
	max-width: 100%;
}

input[type='checkbox'] {
    display: block;
    margin: 5px 0px;
}

.close-reveal-modal {
    padding-top: 8px;
}

/* Customize the label (the container) */
.cmfive__checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.cmfive__checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.cmfive__checkbox-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    border: 1px solid #a9a9a9;
}

/* On mouse-over, add a grey background color */
.cmfive__checkbox-container:hover input ~ .cmfive__checkbox-checkmark {
    background-color: #6FA9C7;
}

/* When the checkbox is checked, add a blue background */
.cmfive__checkbox-container input:checked ~ .cmfive__checkbox-checkmark {
    background-color: #008CBA;
}

/* On mouse-over when the checkbox is checked, add a darker blue background */
.cmfive__checkbox-container:hover input:checked ~ .cmfive__checkbox-checkmark {
    background-color: #007095;
}

/* Create the checkmark/indicator (hidden when not checked) */
.cmfive__checkbox-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.cmfive__checkbox-container input:checked ~ .cmfive__checkbox-checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.cmfive__checkbox-container .cmfive__checkbox-checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cmfive__checkbox-display-inline {
    display: inline !important;
}